.character {
  display: flex;

  width: 500px;
  height: 220px;
  background: rgb(60, 62, 68);
  color: #fff;

  border-radius: 0.5rem;
  &__card-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__status {
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
  }
  &__info-container {
    display: flex;
    flex-direction: column;
  }
  &__title-info {
    margin-top: 5px;
    color: rgb(158, 158, 158);
    font-size: 16px;
  }
  &__info {
    color: rgb(245, 245, 245);
    font-size: 18px;
  }
}
