.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-left: 50px;
  max-width: 260px;
  &__title {
    margin-top: 0;
  }
  &__clearFilter {
    padding: 15px 0px;
    min-width: 100%;
    max-width: 260px;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      background: #00b5cc;
      color: #202329;
    }
  }
}
