.characters {
  display: flex;
  height: 1000px;
  width: 100%;
  color: aliceblue;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }
  &__list-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 81px 0;
  }
  &__sort {
    margin-left: 30px;
  }
}
