@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import './components/UI/header/header.scss';
@import './components/charactersList/charactersList.scss';
@import './components//UI/сharactersListItem/characterListItem.scss';
@import './components/UI/pagination/pagination.scss';
@import './components/characterCard/characterCard.scss';
@import './components/notFound/notFound.scss';
@import './components/episodes/episodesList.scss';
@import './components/locations/locationsList.scss';
@import './components/UI/searchField/searchField.scss';
@import './components/UI/filter/filter.scss';
@import './components/UI/filterLayout/filterLayout.scss';
@import './components/myEpisodes/myEpisodes.scss';
@import './stylesheets/mixins.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background: #202329;
  color: white;
}
.btn {
  width: 130px;
  height: 50px;
  border: 1px solid #00b5cc;
  background: transparent;
  color: #00b5cc;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background: #00b5cc;
    color: #202329;
  }
  &:disabled {
    border: 1px solid grey;
    color: grey;
  }
}
.table {
  margin: 10px;
  border-spacing: 0px;
  border-collapse: collapse;

  &__info-item {
    padding: 20px;
    border: 1px solid white;
  }
}
